.allUsers {
    background-color: #ffdc7c;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 50px;
    width: auto;
}
p {
    background-color: #ffe6b6;
    border-radius: 1rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    margin: auto;
    width:70%;
}

.singleUser {
    margin-bottom:30px;
    font-weight: 300;
}

.showMessage {
    margin-bottom:30px;
}
.heading {
    background-color:rgb(255, 244, 212);
    text-decoration: none;
    font-weight: 300;
}

.userNotFound {
    display: none;
}

.dontShowMessage {
    display: none;
}

.singleUserMessage {
    margin-bottom:30px;
    font-weight: 300;
}

.carousel-indicators { 
    visibility: hidden; 

}

.overlay {
    background: rgb(49, 49, 49, 0.8);
    width: 100vw; 
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position:fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.innerOverlay {
    background: #ff8585;
    padding: 3rem;
    margin: auto;
    border-radius: 2rem;

    /* width: 100%; */
    /* display: flex;
    align-items: center; */

}