.home {
  background-color: #E9E9F0;
  padding: 2rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  width: 600px;
  text-align: center;
}

.homeButton {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
  margin: auto;
  width: 70%;
}

h1,
h2 {
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 2rem;
}
