* {
  font-family: 'Poppins';
  /* padding-inline-start: 0.5rem; */
  /* font-weight: 500; */
}

.mainClass {
  /* height: 100vh; */
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}